<Button @attributes="@Attributes" OnClickAsync="@SelectFile" class="@ButtonClass">@Name</Button>
@code {
    [Inject] private ILocalStorageInterop LocalStorageInterop { get; set; } = default!;
    [Parameter] public string Name { get; set; } = "";
    [Parameter] public EventCallback<FileDialogResult> OnFileDialogFinished { get; set; }
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> Attributes { get; set; } = new();
    public string ButtonClass =>
        string.Join(" ", Attributes.Where(a => a.Key == "class").Select(a => a.Value).Append("btn").Append("btn-primary"));
    private const string LastFolderPath = nameof(LastFolderPath);
    public async Task SelectFile()
    {
        var result = new FileDialogResult();
        var initialDirectory = await LocalStorageInterop.GetItem(LastFolderPath) ?? "";
        SynchronizationContext.Current!.Post(async (d) =>
        {
            using var fileDialog = new FolderBrowserDialog()
                {
                    InitialDirectory = initialDirectory,
                };
            var dialogResult = fileDialog.ShowDialog();
            if (dialogResult == DialogResult.OK)
            {
                result.FilePath = fileDialog.SelectedPath;
            }
            else return;
            await OnFileDialogFinished.InvokeAsync(result);
            await LocalStorageInterop.SetItem(LastFolderPath, Path.GetDirectoryName(result.FilePath) ?? "");
        }, null);
    }
}