<h1>Picture Manager</h1>
<div class="col-md-12 row">
    <div id="@GridViewId" style="height:80vh" class="col-md-12 ag-theme-alpine">
    </div>
</div>

<div class="col-md-12 row">
    <WindowsFolderPicker Name="Update Folder" class="col-md-2" OnFileDialogFinished="OnFolderSelected"></WindowsFolderPicker>
    <WindowsFilePicker Name="Change Filepath" class="ms-2 col-md-2" disabled="@(_selectedPicture==null)" OnFileDialogFinished="UpdatePicturePath"></WindowsFilePicker>
    <Button class="ms-2 col-md-2 btn btn-danger" disabled="@(_selectedPicture==null)" OnClick="DeletePicture">Delete</Button>
</div>

