<h1>Card Editor</h1>

<div style="height:80vh" class="col-md-12 ag-theme-alpine" id="@GridId"></div>
<div class="col-md-12 row mt-2 ms-1">
    <Button class="btn btn-primary col-md-1">New Card</Button>
</div>
