@using Blazored.Modal;
@using TheCardEditor.Shared;
@using Toolbelt.Blazor.HotKeys2;
@using System.Text.Json.Nodes;
@using System.Text.Json;
@using TheCardEditor.DataModel.DTO;
<div style="height:80vh;width:90vw;overflow:scroll" class="col-md-12 row">
    <canvas style="border:1px solid #000000" id="@ExportCanvasId" width="@Width" height="@Height"></canvas>
    <WindowsFolderPicker OnFileDialogFinished="FolderPickingFinished" @ref="_folderPicker"></WindowsFolderPicker>
</div>

