@using Blazored.Modal.Services;
@using Microsoft.JSInterop;
@using Toolbelt.Blazor.HotKeys2;
@inherits LayoutComponentBase
<body>
    <NavMenu />
    <div class="container">
        @Body
    </div>
</body>
<style>
    .container {
        max-width: 100%;
    }
</style>

@code{
    [Inject] IModalHelper ModalHelper { get; set; } = default!;
    [Inject] IJSRuntime JSRuntime { get; set; } = default!;
    [Inject] HotKeys HotKeys { get; set; } = default!;
    [CascadingParameter] IModalService ModalService { get; set; } = default!;
    protected override void OnInitialized()
    {
        ModalHelper.InitializeModalService(ModalService, JSRuntime, HotKeys);
    }
}