<h1>Card Editor</h1>

<div style="height:80vh" class="col-md-12 ag-theme-alpine" id="@GridId"></div>
<div class="col-md-12 row mt-2 ms-1">
    <Button OnClickAsync="async ()=>await EditCards()" class="btn btn-primary col-md-1">Edit Cards</Button>
    <Button OnClickAsync="async ()=>await NewCard()" class="btn btn-primary col-md-1">New Card</Button>
    <Button OnClickAsync="async ()=>await DeleteCards()" class="btn btn-primary col-md-1">Delete Cards</Button>
    <Button OnClickAsync="async ()=>await ExportCards()" class="btn btn-primary col-md-1">Export Cards</Button>
</div>
